/* CSS Entry Point */
body {
	background-color: white;
	font-family: sans-serif;
}

h2 {
	color: white;
	background-color: #00c6d6;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0;

}

.box1 {
	height: 150px;
	width: 600px;
	border: 2px solid red;
} 

.box2 {
	height: 225px;
	width: 600px;
	border: 2px solid green;
}

.box3 {
	height: 350px;
	width: 600px;
	border: 2px solid blue;
}